<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		
         {% block stylesheets %}
            
            <link href="assets/css/main.css" rel="stylesheet"/>
        {% endblock %}
        <title>{% block title %}Test Application{% endblock %}</title>
    </head>
    <body>
	{% include'basic.html.twig' %}
        <div id="sidebar">
            {% block sidebar %}
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="assets/js/main.js"></script>
            
        {% endblock %}
    </body>
</html>